/* Zoom Pop Up Four Atom CSS */
.zoom_pop_up_four_loader_box {
    width: 100% !important;
    max-width: 642px !important;
    height: 408px !important;
    background: #ffff 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 3px 6px #00000029 !important;
    border-radius: 10px !important;
    opacity: 0.8 !important;
    margin-bottom: 30px !important;
    padding: 0px 0px 0px 0px !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
.zoom_pop_up_one_elem_one {
    x: 20 !important;
    y: 128 !important;
    width: 266px !important;
    height: 44px !important;
    border-radius: 8px !important;
}
.zoom_pop_up_one_elem_two {
    x: 20 !important;
    y: 236 !important;
    width: 266px !important;
    height: 44px !important;
    border-radius: 8px !important;
}
.zoom_pop_up_one_elem_three {
    x: 340 !important;
    y: 234 !important;
    width: 85px !important;
    height: 44px !important;
    border-radius: 8px !important;
}
.zoom_pop_up_one_elem_four {
    x: 475 !important;
    y: 234 !important;
    width: 85px !important;
    height: 44px !important;
    border-radius: 8px !important;
}
.zoom_pop_up_one_elem_five {
    x: 20 !important;
    y: 344 !important;
    width: 266px !important;
    height: 44px !important;
    border-radius: 4px !important;
}
.zoom_pop_up_one_elem_six {
    x: 340 !important;
    y: 358 !important;
    width: 16px !important;
    height: 16px !important;
    border-radius: 4px !important;
}
/* Zoom Pop Up Four Atom Media Query CSS */
@media (width: 360px) {

}
@media (width: 411px) {

}
@media (width: 320px) {

}
@media (width: 375px) {

}
@media (width: 414px) {

}
@media (width: 280px) {

}
@media (width: 540px) {

}
@media (width: 653px) {

}
@media (width: 720px) {

}
@media (width: 640px) {

}
@media (width: 568px) {

}
@media (width: 667px) {

}
/* @media (width: 823px) {

}
@media (width: 812px) {

}
@media (width: 768px) {

}
@media (width: 1024px) {

}
@media (width: 1366px) {

} */