/* Card Loader Three Atom CSS */

.card_loader_three_content_loader_box {
    width: 100% !important;
    max-width: 144px !important;
    height: 126.59px !important;
    background: #ffff 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 3px 6px #00000029 !important;
    border-radius: 10px !important;
    opacity: 0.8 !important;
    margin-bottom: 20px !important;
    padding: 0px 0px 0px 0px !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
.exh_media_elem_one {
    x: 48 !important;
    y: 16.59 !important;
    width: 46px !important;
    height: 46px !important;
}
.exh_media_elem_two {
    x: 25 !important;
    y: 75.96 !important;
    width: 95px !important; 
    height: 16px !important;
}
.exh_media_elem_three {
    x: 29 !important;
    y: 97.22 !important;
    width: 39px !important; 
    height: 14px !important;
}
.exh_media_elem_four {
    x: 20 !important;
    y: 185 !important;
    width: 231px !important;
    height: 34px !important;
}